@model Teatr_BG.Models.DbModels.Actor

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>
<div style="background-color: #E6DAA5; margin: 15px; padding: 15px">
    <h3>Czy na pewno chcesz usunąć aktora?</h3>
    <div>
        <h4>Aktorzy</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Imię
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FName)
            </dd>

            <dt>
                Nazwisko
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LName)
            </dd>

            <dt>
                Biografia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
    </div>
</div>