@model Teatr_BG.Models.DbModels.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>
<div style="background-color: #E6DAA5; margin: 15px; padding: 15px">
    <div>
        <h4>Aktorzy</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Imię
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FName)
            </dd>

            <dt>
                Nazwisko
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LName)
            </dd>

            <dt>
                Biografia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edytuj informacje", "Edit", new { id = Model.ActorID }) |
        @Html.ActionLink("Powrót do listy", "Index")
    </p>
</div>